{{{html}}}

<section class="gh-cta">
    {{#has visibility="paid"}}
        <h4 class="gh-cta-title">Premium Content</h4>
    {{/has}}
    {{#has visibility="members"}}
        <h4 class="gh-cta-title">Exclusive Content</h4>
    {{/has}}
    {{#has visibility="filter"}}
        <h4 class="gh-cta-title">Special Content</h4>
    {{/has}}
</section>